    <div class="row" >
        <!-- <label class="labelPrimary">Ordenado por&nbsp;</label> -->
        <mat-form-field appearance="outline" class="col-4">
            <mat-label>Ordenado por</mat-label>
            <mat-select (change)="changeInput()" placeholder="" name="tMetodoOrdenamiento" [(ngModel)]="metodos.tMetodoOrdenamiento">
                <div *ngFor="let columna of columnas">
                    <mat-option *ngIf="columna.ordenar==1"  [value]="columna.campo"> {{columna.nombre}} </mat-option>
                </div>
            </mat-select>
        </mat-form-field>
        <!-- <label class="labelPrimary">&nbsp;de forma&nbsp;</label> -->
        <mat-form-field appearance="outline"  class="col-4">
            <mat-label>De forma</mat-label>
            <mat-select (change)="changeInput()" placeholder="" name="orden" [(ngModel)]="metodos!.orden">
                <mat-option value="ASC"> Ascendente </mat-option>
                <mat-option value="DESC" >Descendente </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <label class="labelPrimary"> &nbsp;con tope de &nbsp;</label> -->
        <mat-form-field appearance="outline" class="col-4">
            <mat-label>Con tope de registros</mat-label>
            <mat-select (change)="changeInput()" placeholder="" name="eNumeroRegistros" [(ngModel)]="metodos.eNumeroRegistros">
                <mat-option *ngFor="let item of MaximosRegistros" [value]=item.eCantidad> {{item.eCantidad}} </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <label class="labelPrimary">&nbsp;registros</label> -->
    </div>