<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <internal-header
    [loader]="loader"
    (showFilter)="isCollapsed = $event"
    (onClickFilter)="onClickFilter()"
	  (onClickDelete)="onClickDelete()"
  ></internal-header>
  <div class="flex-auto p-6 overflow-y-auto" cdkScrollable>
    <div [hidden]="!isCollapsed" class="divfilters">
      <form #formPerfil="ngForm" id="form-perfil">
        <div class="row">
          <div
            class="col-lg-{{filtro.type=='date' ? 2 : 4 }}"
            *ngFor="let filtro of filters"
          >
            <mat-form-field
              appearance="outline"
              *ngIf="filtro.type=='text'"
              class="input-group"
            >
              <mat-label>{{filtro.name}}</mat-label>
              <input
                matInput
                placeholder="{{filtro.name}}"
                [(ngModel)]="filtro.content"
                name="{{filtro.name}}"
                type="text"
              />
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              *ngIf="filtro.type=='number'"
              class="input-group"
            >
              <mat-label>{{filtro.name}}</mat-label>
              <input
                matInput
                placeholder="{{filtro.name}}"
                [(ngModel)]="filtro.content"
                name="{{filtro.name}}"
                type="number"
              />
            </mat-form-field>
            <mat-checkbox
              [(ngModel)]="filtro.content"
              *ngIf="filtro.type=='check'"
              name="{{filtro.name}}"
              style="margin-top: 1em"
              class="input-group"
            >
              {{filtro.name}}
            </mat-checkbox>
            <label *ngIf="filtro.type=='vacio'"></label>
            <mat-form-field
              appearance="outline"
              *ngIf="filtro.type=='select'"
              class="input-group"
            >
              <mat-label>{{filtro.name}}</mat-label>
              <mat-select
                placeholder="{{filtro.name}}"
                name="{{filtro.name}}"
                [(ngModel)]="filtro.content"
              >
                <mat-option *ngFor="let item of filtro.list" [value]="item.id"
                  >{{item.name}}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              *ngIf="filtro.type=='date'"
              class="input-group col-lg-{{filtro.type=='date' ? 2 : 4 }}"
            >
              <mat-label>{{filtro.name}}</mat-label>
              <input
                matInput
                [matDatepicker]="dpF"
                [matTooltip]="filtro.name"
                name="{{filtro.name}}"
                [(ngModel)]="filtro.content"
                placeholder="{{filtro.name}}"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="dpF"
              ></mat-datepicker-toggle>
              <mat-datepicker #dpF></mat-datepicker>
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              *ngIf="filtro.type=='auto'"
              class="input-group"
            >
              <mat-label>{{filtro.name}}</mat-label>
              <input
                (ngModelChange)="filtro.filter($event)"
                [formControl]="this[filtro.formControl]"
                type="text"
                name="{{filtro.name}}"
                [(ngModel)]="filtro.content"
                placeholder="{{filtro.name}}"
                aria-label="Number"
                matInput
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="filtro.fnDisplay"
              >
                <mat-option
                  *ngFor="let option of this[filtro.filteredOptions] | async"
                  [value]="option"
                >
                  {{option[filtro.display]}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <orderPulpo
          [columns]="columns"
          [methods]="methods"
          (completoEvent)="isCollapsed = false; complete = true"
          [complete]="complete"
          (changeInputEvent)="methods = $event"
        ></orderPulpo>
      </form>
    </div>
    <tablePulpo
      [key]="key"
      [columns]="columns"
      [data]="data"
      (deleteFieldsEvent)="deleteFields = $event"
      [deleteFields]="deleteFields"
    >
    </tablePulpo>   
  </div>
</div>
