<div
  class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden"
  style="
    padding-left: 2em !important;
    padding-right: 2em !important;
    padding-top: 5px !important;
  "
>
  <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
    <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
  </button>
  <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
  <div class="flex-1 min-w-0">
    <!-- Title -->
    <div class="mt-2">
      <h2
        class="text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
      >
        Vehiculos
      </h2>
    </div>
  </div>
  <mat-spinner
    class="col-lg-2"
    [diameter]="20"
    [strokeWidth]="5"
    *ngIf="loader == 1"
  ></mat-spinner>
  <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2" *ngIf="create===false">
    <button mat-raised-button (click)="onClickOpenFilter()">
      <mat-icon >filter_list</mat-icon>
    </button>
    <button mat-raised-button (click)="this.onClickFilter.emit()"><strong>Filtrar</strong></button>
    <button mat-raised-button (click)="this.onClickDelete.emit()"><strong>Eliminar</strong></button>
    <button mat-raised-button (click)="this.router.navigate(['/vehicle/create'])"><strong>Nuevo</strong></button>
  </div>
  <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2" *ngIf="create===true">
    <button mat-raised-button (click)="this.onClickStore.emit()"><strong>Guardar</strong></button>
    <button mat-raised-button (click)="this.router.navigate(['/vehicle/list'])"><strong>Consultar</strong></button>
  </div>
</div>
<div class="bg-card"  *ngIf="create===false">
  <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
    <div
      class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-3"
    >
      <!-- Avatar and name -->
      <div class="flex flex-auto items-center min-w-0">
        <div class="flex flex-col min-w-0 ml-4">
            <div
              class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate"
            >
              Bienvenido, {{ userName }}!
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
